* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  background-image: url("./public/images/weatherApp_background.jpg");
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(152, 240, 255);
}

.front-card-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  box-shadow: 2px 2px 15px black;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  /* margin: 10px; */
}
.front-card-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  box-shadow: 2px 2px 15px black;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  /* margin: 10px; */
}

#user-choice {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}
#this-or-this {
  position: relative;
  height: 100px;
  width: 100px;
  color: white;
  font-weight: bold;
  font-size: 2.3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid green;
}
