* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-image: url("./public/images/weatherApp\ background.jpg");
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(152, 240, 255);
}
